/* Cascading modal register / login  */
.form-cascading .modal-footer{
  border-top: none;
  flex-direction: column;
}

.form-cascading .modal-content{
  background-image: url('../img/foggymountains.jpeg');
}

.form-cascading #options {
  margin-right: auto;
}

.form-cascading #options p {
  margin-bottom: 0;
}

.form-cascading #options p span{
  cursor: pointer;
}
a.btn-default{
    width: 100px;
    height: 75%;
    margin-right: 10px;
    transform: scale(1.09);
}
a.btn-default:first-of-type{
    margin-left: 15px;
}
